@import "tailwindcss";

/* This tells Tailwind v4 where your files are */
@source "../components";
@source "../app";

/* This sets your default theme to a Pro Dark Look */
@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: sans-serif; /* This fixes the 'Times New Roman' look */
}
